h1{
    font-family: 'Gochi Hand', cursive;
    color: black;
}
nav ul{
    list-style-type: none;
    margin: 0;
  padding: 0;
}
li{
    float: left;
}
li a{
    display: inline;
    color: blue;
    padding: 15px 20px;
}
.navi{
    border: 2px 2px transparent;
    box-shadow: 2px 2px 5px coral;
}
#home{
    background-image:url("https://bit.ly/2EfwdOk") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h2{
    padding-top:30px;
    text-align: center;
    color: blanchedalmond;
    text-shadow:3px 3px 5px brown;
    font-size: 80px;
}
.aboutus{
    text-align: center;
    background-color: white;
}
.menu h3{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.menu .row{
    display:flex;
    justify-content: space-around;
    margin-right:100px;
    margin-left: 100px;
}
.menu img{
    display:block;
}
.menu p{
    text-align: center;
    display: none;
    position: absolute;
    font-size: 40px;
    padding-top: 80px;
    padding-left:40px;
}
#order-pizza {
    color: #000;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}
