h1{
    font-family: 'Gochi Hand', cursive;
    color: black;
    font-size: 60px;
}
.nav ul{
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
    float: left;
}
li a{
    display: inline;
    color: blue;
    padding: 10px 20px;
}
.navi{
    border: 2px 2px transparent;
    box-shadow: 3px 3px 5px coral;
}
#home{
    background-image:url("https://bit.ly/2EfwdOk") ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h2{
    padding-top:30px;
    text-align: center;
    color: blanchedalmond;
    text-shadow:2px 2px 5px white;
    font-size: 500px;

}
.aboutus{
    text-align: center;
    background-color: white;
}
.menu h3{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
#order {
    background-color: #000;
}
label{
    color: white;
}
h4{
    color: white;
    text-align: center;
}

#list li {
    font-size: 24px;

}
.click-me {
    margin-top: 20px;
    margin-bottom: 20px;
}

.get-pizza {
    margin-top: 40px;
}


.cdata {
    margin-top: 20px;
    margin-bottom: 15px;
}

.data {
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.go {
    border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background-color: blue;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 33px;
    font-size: 14px;
}

.checkout {
    border-radius: 20px;
    margin-top: 20px;
}

#list {
    color: #000;
}

.pizz {
    color: blue;
}
h5{
   color: teal;
}


    

